footer {
  padding: 2rem 1rem;
  text-align: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
      color: #633;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .social-buttons {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;

      .circle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--default-font-color);
        color: var(--default-bg-color);
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }

    .footer-main-text {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .footer-small-text {
      font-size: 0.8rem;
      font-weight: bold;
      color: #f4997d;
    }
  }
}

@media (max-width: 480px) {
  footer .content {
    gap: 0.8rem;
  }

  footer .social-buttons .circle-btn {
    width: 35px;
    height: 35px;
    font-size: 0.7rem;
  }
}
