:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.full-item-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--card-bg);
  border-radius: 8px;
  border: 1px solid var(--card-border-color);
  padding: 1rem;
  height: 100%;

  p {
    word-break: break-word;
    overflow-wrap: anywhere;
  }

  .meta-date {
    margin-top: auto;
    align-self: flex-end;
  }
}