:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex:1;
  background-color: var(--content-bg);

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
    z-index: 9999;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #3498db, #2ecc71, #f39c12);
      animation: progress 1.5s ease-in-out infinite;
    }
  }
}

@keyframes progress {
  0% { left: -100%; }
  100% { left: 100%; }
}

@media (max-width: 480px) {
  .page {
    padding-top: var(--header-height-mobile);
  }
}
