services:
  tagger-java:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: tagger-java
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ~/.m2:/root/.m2
    depends_on:
      - tagger-postgres
    networks:
      - network

  tagger-postgres:
    image: postgres:17.2
    container_name: tagger-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
    postgres-data:
        driver: local