:host {
  display: block;
  min-height: 100vh;
  background-color: var(--content-bg);
}

.page-wrapper {
  padding: 2rem;

  .page-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .page-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
  }

  .loading {
    margin-top: 24px;
    text-align: center;
    font-weight: 600;
  }
}
