:host {
  display: block;
  min-height: 100vh;
  background-color: var(--content-bg);
}

.page-wrapper {
  padding: 2rem;

  .page-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .page-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
}
