:host {
  display: flex;
  justify-content: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border-color);
  width: 90%;
  max-width: 480px;
}