@if (form(); as form) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-text-input
                [control]="formControl('item')"
                [controlId]="'item'"
                [label]="'Item'"
                [placeholder]="'Enter item name'"
                [minLength]="formConfig().itemNameMinLength"
                [isSubmitted]="submitted()"
        ></app-text-input>

        <app-number-input
                [control]="formControl('tagsQuantity')"
                [controlId]="'tagsQuantity'"
                [label]="'Tags Quantity'"
                [placeholder]="'10'"
                [min]="formConfig().tagsQuantityMin"
                [max]="formConfig().tagsQuantityMax"
                [isOptional]=true
                [isSubmitted]="submitted()"
        ></app-number-input>

        <app-select-input
                [control]="formControl('platform')"
                [controlId]="'platform'"
                [label]="'Platform'"
                [options]="formConfig().platforms"
                [isOptional]=true
                [isSubmitted]="submitted()"
        ></app-select-input>

        <app-text-input
                [control]="formControl('targetAudience')"
                [controlId]="'targetAudience'"
                [label]="'Target Audience'"
                [placeholder]="'Enter target audience'"
                [minLength]="formConfig().itemNameMinLength"
                [isSubmitted]="submitted()"
        ></app-text-input>

        <app-select-input
                [control]="formControl('responseStyle')"
                [controlId]="'responseStyle'"
                [label]="'Response Style'"
                [options]="formConfig().responseStyles"
                [placeholder]="'Select Response Style'"
                [isSubmitted]="submitted()"
        ></app-select-input>

        @if (mode() === 'clothes') {
            <app-text-input
                    [control]="formControl('color')"
                    [controlId]="'color'"
                    [label]="'Color'"
                    [placeholder]="'Enter cloth color'"
                    [isOptional]=true
                    [isSubmitted]="submitted()"
            ></app-text-input>
            <app-text-input
                    [control]="formControl('size')"
                    [controlId]="'size'"
                    [label]="'Size'"
                    [placeholder]="'Enter cloth size'"
                    [isOptional]=true
                    [isSubmitted]="submitted()"
            ></app-text-input>
            <app-text-input
                    [control]="formControl('material')"
                    [controlId]="'material'"
                    [label]="'Materal'"
                    [placeholder]="'Enter cloth material'"
                    [isOptional]=true
                    [isSubmitted]="submitted()"
            ></app-text-input>
        }

        @if (mode() === 'electronics') {
            <app-text-input
                    [control]="formControl('model')"
                    [controlId]="'model'"
                    [label]="'Model'"
                    [placeholder]="'Enter item model'"
                    [isOptional]=true
                    [isSubmitted]="submitted()"
            ></app-text-input>

            <app-text-input
                    [control]="formControl('color')"
                    [controlId]="'color'"
                    [label]="'Color'"
                    [placeholder]="'Enter item color'"
                    [isOptional]=true
                    [isSubmitted]="submitted()"
            ></app-text-input>

            <app-number-input
                    [control]="formControl('monthsOfWarranty')"
                    [controlId]="'monthsOfWarranty'"
                    [label]="'Months of warranty'"
                    [placeholder]="'12'"
                    [min]="formConfig().monthsOfWarrantyMin"
                    [max]="formConfig().monthsOfWarrantyMax"
                    [isOptional]=true
                    [isSubmitted]="submitted()"
            ></app-number-input>
        }

        <div class="buttons-container">
            <button type="submit" [disabled]="loading() || !form.valid" class="btn submit-btn">Generate</button>
            <button type="button" class="btn clear-btn" (click)="onClear()">Clear</button>
        </div>
    </form>
} @else {
    <p>Loading...</p>
}
