:root {
  --default-bg-color: #f3efe9;
  --default-font-family: 'Open Sans', sans-serif;
  --default-font-color: #545454;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--default-font-family);
    color: var(--default-font-color);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--default-bg-color);
    min-height: 100vh;
}