:root {
  --layout-bg: #f3efe9;
  --content-bg: #e0d7cd;
  --text-family-base: 'Open Sans', sans-serif;
  --text-primary-color: #545454;
  --text-warning-color: #cd3333;
  --submit-button-bg: #978675;
  --submit-button-bg-hover: #7e6b58;
  --submit-button-text: #ffffff;
  --error-bg-color: #fee;
  --error-border-color: #d32f2f;
  --error-text-color: #c62828;

  --header-height: 64px;
  --header-height-mobile: 96px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--text-family-base);
    color: var(--text-primary-color);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--layout-bg);
    min-height: 100vh;
}

.warning {
    color: var(--text-warning-color);
}