:host {
  --pg-text-color: #000;
  --pg-border-color: #ccc;
  --pg-hover-bg: #d3d3d3;
  --pg-active-bg: #48ce45;
  --pg-active-text-color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  li {
    a {
      display: block;
      padding: 8px 12px;
      text-decoration: none;
      border: 1px solid var(--pg-border-color);
      color: black;
      margin: 0 4px;
      border-radius: 5px;

      .active {
        background-color: var(--pg-active-bg);
        color: var(--pg-active-text-color);
      }

      &:hover:not(.active) {
        background-color: var(--pg-hover-bg)
      }
    }
  }
}