name: test-coverage

on: 
 push:
  branches:
   - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Make mvnw executable
        run: chmod +x ./backend/mvnw

      - name: Build and run tests
        run: ./backend/mvnw clean verify

      - name: Generate JaCoCo coverage report
        run: ./backend/mvnw jacoco:report

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./backend/target/site/jacoco/jacoco.xml
          fail_ci_if_error: true
